#uploadDiv {
  width: 300px;
  height: 200px;
  padding: 15px;
  background-color: black;
  box-shadow: 10px 10px 5px grey;
  align-content: center;
  border-radius: 5%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 10%;
}
.progressBar {
  width: "25%";
  aria-valuenow: "0";
  aria-valuemin: "0";
  aria-valuemax: "100";
}
.hidden {
  visibility: hidden;
}
.file {
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  border-radius: 5%;
  width: 100%;
  color: rgb(6, 173, 0);
}
#a {
  position: relative;
  left: 70px;
  top: 10px;
}
.animatedDiv {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 0.5s;
}
@keyframes mymove {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}
